@import url('https://fonts.googleapis.com/css?family=Kelly+Slab|Pacifico&display=swap');

html {
    font-family: 'Kelly Slab', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background: url(/bg.jpg) center center/cover;
    color: goldenrod;
}

header {
    position: fixed;
    top: 0;
    left: 2em;
}

header p {
    font-size: 0.75em;
}

main {
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 4rem;
    transform: skewX(-15deg) rotate(-10deg);
}

h1 span {
    display: block;
    text-transform: uppercase;
    -webkit-text-stroke: 2px;
    text-shadow: -4px 4px rgba(218, 165, 32, 0.5);
}

h1 small {
    display: block;
    font-family: 'Pacifico', cursive;
    font-size: .5em;
    text-transform: none;
    transform: translate(-20px, 15px)
}

.not-streaming {
    padding: 3.5rem;
    max-width: 400px;
    width: 50vw;
    font-size: 1.5rem; 
    line-height: 1.75rem;
    background-image: linear-gradient(#222, #111);
    background-size: 1.75rem 1.75rem;
    border: 20px solid #000;
    box-shadow: 0 10px 20px rgba(0,0,0,.8), inset 2px 2px 10px black;
    color: #efefef;
    text-shadow: 0 3px 10px black, 0 1px 0 #ddd;
    letter-spacing: 0.1em;
}

.chatroom {
    position: fixed;
    right: 1em;
    bottom: -603px;
    box-shadow: 0 5px 20px black;
    transition: 0.6s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
    max-height: 98vh;
}

.chatroom__handle {
    padding: 0.5em;
    text-transform: uppercase;
    background: goldenrod;
    color: #222;
    -webkit-text-stroke: 1px;
    font-size: 1.5rem;
}

.chatroom.active {
    bottom: 0;
}